{:paths ["src"]
 :deps {borkdude/sci {:mvn/version "0.2.5"}
        cheshire/cheshire {:mvn/version "5.10.0"} ;; for reflection.json generation only - can be excluded otherwise
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        org.clojure/test.check {:mvn/version "1.1.0"}}}
