{:paths ["src"]
 :deps {org.babashka/sci {:mvn/version "0.8.41"}
        cheshire/cheshire {:mvn/version "5.12.0"} ;; for reflection.json generation only - can be excluded otherwise
        org.clojure/tools.namespace {:mvn/version "1.4.4"}
        org.clojure/test.check {:mvn/version "1.1.1"}}}
